.vagrant
.project
.settings
.idea
.vs
*.bak
*.log
*.sln
*.suo
*.csproj
*.njsproj
playbook.retry
coverage
node_modules
Temp
Obj
doc/*.mwb.*
StyleCop.Cache
breakout-svr/dist
breakout-svr/out
breakout-svr/config/local.yaml
breakout-web/public/bundle.js
breakout-web/public/bundle.js.map
breakout-web/public/webgl/*
breakout-web/out
breakout-web/obj
breakout-web/bin
breakout-game/Library
!.gitkeep
