.vagrant
.project
.settings
.idea
.vs
*.bak
*.log
*.sln
*.suo
*.csproj
*.njsproj
playbook.retry
coverage
node_modules
Temp
Obj
doc/*.mwb.*
StyleCop.Cache
breakout-svr/dist
breakout-svr/doc
breakout-svr/config/local.yaml
breakout-web/dist
breakout-web/src/webgl/*
breakout-web/tmp
breakout-web/out-tsc
breakout-web/doc
breakout-game/Library
!.gitkeep
