<div class="row">
    <div class="col-sm-3 col-md-2">
        <stage-navi></stage-navi>
    </div>

    <div class="col-sm-offset-3 col-md-offset-2 main">
        <h1 class="page-header">{{ "STAGE_LIST.TOP_ACTIVE_PLAYERS" | translate }}</h1>
        <ranking-date-navi href="/rankings/player/" [keys]="keys" [selected]="selected"></ranking-date-navi>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ "RANKING.NO" | translate }}</th>
                        <th>{{ "USER.NAME" | translate }}</th>
                        <th>{{ "RANKING.TRIED_COUNT" | translate }}</th>
                        <th>{{ "RANKING.CLEARED_COUNT" | translate }}</th>
                        <th>{{ "RANKING.MAX_SCORE" | translate }}</th>
                        <th>{{ "USER.CREATED_AT" | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ranking of rankings">
                        <td>{{ ranking.no }}</td>
                        <td>
                            <user-link [user]="ranking.user"></user-link>
                        </td>
                        <td>{{ ranking.score }}</td>
                        <td>{{ ranking.info.cleared || 0 }}</td>
                        <td>{{ ranking.info.score || 0 }}</td>
                        <td>{{ ranking.user.createdAt | date: "shortDate" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>