<div class="row">
    <div class="col-sm-3 col-md-2">
        <stage-navi></stage-navi>
    </div>

    <div class="col-sm-offset-3 col-md-offset-2 main">
        <h1 class="page-header">{{ "TOP_RATING_STAGES" | translate }}</h1>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ "RANKING_NO" | translate }}</th>
                        <th>{{ "STAGE.NAME" | translate }}</th>
                        <th>{{ "STAGE.AUTHOR" | translate }}</th>
                        <th>{{ "AVERAGE_RATING" | translate }}</th>
                        <th>{{ "STAGE.CREATED_AT" | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ranking of rankings">
                        <td>{{ ranking.no }}</td>
                        <td>
                            <stage-link [stage]="ranking.stage" permission="true"></stage-link>
                        </td>
                        <td>
                            <user-link [user]="ranking.stage.header.user"></user-link>
                        </td>
                        <td>
                            <stage-rating rating="{{ ranking.score }}"></stage-rating>
                        </td>
                        <td>{{ ranking.stage.createdAt | date: "shortDate" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>