html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 30px;
}

@media only screen and (max-width: 379px) {
    .footer {
        font-size: x-small;
    }
}

@media only screen and (max-width: 379px) {
    .navbar-brand {
        font-size: medium;
    }
}

fieldset {
    margin-bottom: 0.85em;
}

form .ng-invalid {
    background-color: #FFDAB9;
}

form .ng-valid {
    background-color: #E5FFCC;
}

@media only screen and (min-width: 31em) {
    input[type="text"],
    input[type="password"] {
        width: 30em;
    }
    textarea.form-control {
        width: initial;
        min-width: 30em;
    }
}

@media only screen and (max-width: 30em) {
    input[type="text"],
    input[type="password"] {
        width: 100%;
    }
    textarea.form-control {
        width: 100%;
    }
}

.content-header {
    margin-bottom: 0.85em;
}

.content-footer {
    margin-top: 0.85em;
}

.warning {
    color: #d08d2e;
}

.error {
    color: #d9534f;
}

.modal-body {
    white-space: pre-line;
}

.ranking-date-navi {
    margin-top: -0.6em;
    margin-bottom: 0.6em;
}

.stage-info-header {
    font-size: 90%;
    margin-bottom: 0.2em;
}

.stage-score-ranking {
    margin-top: 2em;
}

.stage-score-ranking .ranking-date-navi {
    margin-top: 0em;
}

.comment-header {
    margin-bottom: 0.2em;
}

.comment-body {
    white-space: pre-line;
}

.stage-navi-mobile {
    float: right;
}

.stage-navi-mobile ul {
    left: auto;
    right: 0;
    margin-right: -0.5em;
}

.stage-navi-mobile li {
    margin-left: 1em;
}

.stage-preview table {
    table-layout: fixed;
    font-size: xx-small;
}

.stage-preview th,
.stage-preview td {
    width: 16px;
    height: 16px;
    text-align: center;
}

.stage-preview td {
    border: dotted 1px #ff00ff;
}

@media only screen and (min-width: 360px) {
    .stage-preview,
    .stage-preview {
        overflow: hidden;
        width: 340px;
        height: 254px;
    }
    .stage-preview table,
    .stage-preview table {
        transform: scale(0.5);
        transform-origin: 0 0;
        width: 340px;
        height: 254px;
    }
}

@media only screen and (max-width: 359px) {
    .stage-preview,
    .stage-preview {
        overflow: hidden;
        width: 262px;
        height: 208px;
    }
    .stage-preview table,
    .stage-preview table {
        transform: scale(0.4);
        transform-origin: 0 0;
        width: 262px;
        height: 208px;
    }
}

@media only screen and (min-width: 41em) {
    form[name="stageForm"] textarea[name="stage.map"] {
        width: 40em;
    }
    .map-buttons {
        padding: 0;
        margin: 0px 0px 0.5em;
        width: 40em;
    }
}

@media only screen and (max-width: 40em) {
    form[name="stageForm"] textarea[name="stage.map"] {
        width: 100%;
    }
    .map-buttons {
        padding: 0;
        margin: 0px 0px 0.5em;
        width: 100%;
    }
}

.map-buttons li {
    display: inline-block;
}

@media only screen and (min-width: 620px) {
    #unity-frame {
        margin-top: 0.5em;
        width: 604px;
        height: 454px;
    }
}

@media only screen and (min-width: 560px) and (max-width: 619px) {
    #unity-container {
        margin-top: 0.5em;
        overflow: hidden;
        width: 543px;
        height: 408px;
    }
    #unity-frame {
        transform: scale(0.9);
        transform-origin: 0 0;
    }
}

@media only screen and (min-width: 520px) and (max-width: 559px) {
    #unity-container {
        margin-top: 0.5em;
        overflow: hidden;
        width: 513px;
        height: 386px;
    }
    #unity-frame {
        transform: scale(0.85);
        transform-origin: 0 0;
    }
}

@media only screen and (min-width: 460px) and (max-width: 519px) {
    #unity-container {
        margin-top: 0.5em;
        overflow: hidden;
        width: 435px;
        height: 327px;
    }
    #unity-frame {
        transform: scale(0.72);
        transform-origin: 0 0;
    }
}

@media only screen and (min-width: 420px) and (max-width: 459px) {
    #unity-container {
        margin-top: 0.5em;
        overflow: hidden;
        width: 400px;
        height: 300px;
    }
    #unity-frame {
        transform: scale(0.66);
        transform-origin: 0 0;
    }
}

@media only screen and (min-width: 375px) and (max-width: 419px) {
    #unity-container {
        margin-top: 0.5em;
        overflow: hidden;
        width: 362px;
        height: 272px;
    }
    #unity-frame {
        transform: scale(0.6);
        transform-origin: 0 0;
    }
}

@media only screen and (max-width: 374px) {
    #unity-container {
        margin-top: 0.5em;
        overflow: hidden;
        width: 302px;
        height: 227px;
    }
    #unity-frame {
        transform: scale(0.5);
        transform-origin: 0 0;
    }
}