<h1>
    <span *ngIf="userService.me.status != 'admin'">{{ "BLOCK_LIST.TITLE" | translate }}</span>
    <span *ngIf="userService.me.status == 'admin'">{{ "BLOCK_LIST.TITLE_ADMIN" | translate }}</span>
</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>{{ "BLOCK.KEY" | translate }}</th>
                <th>{{ "BLOCK.NAME" | translate }}</th>
                <th>{{ "BLOCK.STATUS" | translate }}</th>
                <th>{{ "BLOCK.HP" | translate }}</th>
                <th>{{ "BLOCK.SCORE" | translate }}</th>
                <th>{{ "BLOCK.XSIZE" | translate }}</th>
                <th>{{ "BLOCK.YSIZE" | translate }}</th>
                <th>{{ "BLOCK.COLOR" | translate }}</th>
                <th>{{ "BLOCK.CREATED_AT" | translate }}</th>
                <th>{{ "BLOCK.UPDATED_AT" | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let block of blocks">
                <td>
                    <span *ngIf="userService.me.status != 'admin'">{{ block.key }}</span>
                    <a routerLink="/blocks/{{ block.key }}" *ngIf="userService.me.status == 'admin'">{{ block.key }}</a>
                </td>
                <td>{{ block.name }}</td>
                <td [ngSwitch]="block.status">
                    <span *ngSwitchCase="'enable'">{{ "BLOCK.STATUS_ENABLE" | translate }}</span>
                    <span *ngSwitchCase="'disable'">{{ "BLOCK.STATUS_DISABLE" | translate }}</span>
                    <span *ngSwitchDefault>{{ block.status }}</span>
                </td>
                <td>{{ block.hp }}</td>
                <td>{{ block.score }}</td>
                <td>{{ block.xsize }}</td>
                <td>{{ block.ysize }}</td>
                <td><span [style]="('color:' + block.color) | safeStyle">■</span> <code>{{ block.color }}</code></td>
                <td>{{ block.createdAt | date: "shortDate" }}</td>
                <td>{{ block.updatedAt | date: "shortDate" }}</td>
            </tr>
        </tbody>
    </table>
</div>
<footer *ngIf="userService.me.status == 'admin'" class="content-footer"><a routerLink="/blocks/new" class="btn btn-default btn-lg">{{ "BLOCK_LIST.NEW_BLOCK" | translate }}</a></footer>